@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,400;1,700&family=Shadows+Into+Light&display=swap');

:root{---heading-font: "Shadows Into Light";
      ---paragraph-font: Regular 400 Italic, Bold 700 Italic, sans-serif;
 }
#content{
    max-width: 1600px;
    margin: 0 auto;
    width:80px;   
}
a:hover {
    text-decoration: underline;
} 

body{ background-color:#52B69A;
      font-size: 22px;
      margin: 0;
      padding: 0;
}
.icon { width:80px; 
       padding-top: 10px;
}
header{background-color: #114D69;
       color:white;
       display: grid;
       grid-template-columns: 150px auto;}

.logo{width:80px;}  

#logo_link{ padding-top: 5px; 
            justify-self: center;
            align-self: center;  } 

nav a{ text-align: center;
       color:white;
       text-decoration:none;
       padding: 35px;
       font-family:"Shadows Into Light"
       } 

nav a:hover{background-color: #34A0A4;
}              

div{text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-msg h1,#hero-msg h4{text-align: center; 
                          color:white;
}
#hero-img {width:100%;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h4 {
    color: white;
    text-shadow:2px 2px 5px black; 
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.home-title{color:white;
           font-family:"Shadows Into Light";
           font-size: 2em;
           margin-top: 10px;
           align-self: center;
           text-shadow:2px 2px 5px black; 
}


.home-grid{display: grid;
           grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
           }          

.button-box{text-align: center;
}
.book, .join{background-color:#34A0A4; 
    color:black;
    text-decoration:none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;}

.book:hover, .join:hover{background-color:#34A0A4;
                color:black;
               }

main section{text-align: center;
}
main section img { box-sizing: border-box;
}
.rivers-card { margin: 200px 0 ;
               grid-column:2/4 ;
               grid-row:2/3 ;}
.camping-card { margin: 200px 0;
               grid-column:5/7;
               grid-row:2/3}
.rapids-card  { margin: 200px 0;
                grid-column:8/10 ;
                grid-row:2/3;
               }
.card-img { border: 10px solid #d9c2a3;
            width: 100%;
            transition: transform .5s;
            box-shadow: 5px 5px 10px #6f7364;}

.card-img:hover {
                opacity: .6;
                transform: scale(1.1);
            }            
.mountains{width: 100%;
          grid-column:2/7;
          grid-row:5/8;
          box-shadow: 5px 5px 10px #6f7364;
          height: 725px;
          }            

#background {height: 725px;
             background-color:#114D69;
             color:white;
             grid-column:1/11;
             grid-row:4/9;            
            }
                                                     
.msg{background-color:#114D69;
     color:white;
     line-height: 1.5em;
     padding: 35px;
     grid-column:6/10;
     grid-row:6/7;
     box-shadow: 5px 5px 10px #6f7364;
    }
.msg h2{color:white;
        font-family:"Shadows Into Light";
}
.msg p{color:white;
       font-size: .8em;
       padding-bottom: 15px;
}
.msg a{color:white;
}    

h2{ margin: 0;
    padding: 0;
    }  

footer{
       background-color:#114D69;
       color:white;
       padding: 25px 50px;
       margin-top: 200px;
       display: flex;
       justify-content: space-around;
       align-items: center;
    }

footer a{color:white;
        text-decoration:none;
}
footer a:hover{color:white;
}

footer p {
    font-size: 1.2em;
    font-family:"Shadows Into Light"
}    
   
footer div a{ width: 80px;

}
footer .social img { padding-top: 15px; 
}
footer p a:hover {
    text-decoration: underline;
} 

/*PAGE 2 */

.grid-information{display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap:40px;
    column-gap: 20px;
    padding-top: 50px;
    margin-left: 60px;
    margin-right: 0px;
}
.home-page2{
            text-align:center;
            font-family:"Shadows Into Light";
            text-shadow:2px 2px 5px #114D69; 
            font-size: 4vw;
            color: white; 
            padding-top:15px;  
            margin:0px;
            z-index: 1;
            height:60px;
            }

.salmon{grid-column:1/2;
          grid-row:1/2;
          margin-top: 50px;
          margin-left: 100px;
          align-self: center;  
          margin-bottom: 10px;     
        }

.canyon{grid-column:1/2;
         grid-row:2/3;
         align-self: center;
         margin-left: 100px;
         margin-bottom:10px;

        }  

.colorado{grid-column:1/2;
            grid-row:3/4;
            align-self: center;
            margin-left: 100px;
            margin-bottom:10px;
         }   

.salomonp{grid-column:3/8;
          grid-row:1/2;
          font-size: 16px;
          float:right;
          margin-top:50%;
          padding-right:1px;
          padding-bottom: 100px;
          z-index: 1;
          color:black;
          }

.canyonp{grid-column:3/7;
         grid-row:2/3;
         font-size: 16px;
         float: right;
         margin-top: 150px;}  
         
.coloradop{grid-column:3/7;
            grid-row:3/4;
            font-size: 16px;
            float: right;
            margin-top: 160px;
            margin-bottom:100px;
          }   
.button-1{grid-row: 1/1;
          grid-column: 1/2;
          color:white;
          margin-top:140px;
          margin-left: 250px;
          padding-top:20px;
          z-index: 1;
          text-shadow:2px 2px 5px black;
          background: #34A0A4;
          height: 40px;
          width: 400px;
          border-radius: 5px;
        } 

.button-2{grid-row: 2/3;
        grid-column: 1/1;
        z-index: 1;
        color:white;
        margin-top: 100px;
        margin-left:250px;
        text-shadow:2px 2px 5px black;
        background: #34A0A4;
        height: 40px;
        width: 400px;
        border-radius: 5px;
        padding-top:20px;
        } 
.button-3{grid-row: 3/4;
        grid-column: 1/1;
        z-index: 1;
        color:white;
        text-shadow:2px 2px 5px black;
        background: #34A0A4;
        height: 40px;
        width: 400px;
        border-radius: 5px;
        padding-top:20px;
        margin-left:250px;
        margin-top:130px;}  

.back-box1{grid-column:1/9;
           grid-row:1/1;
           margin:5px;
           border-style:groove;
           }  
.back-box2{grid-column:1/9;
          grid-row:2/3;
          margin:5px;
          border-style: groove;
 } 
.back-box3{grid-column:1/9;
          grid-row:3/4;
           margin: 5px;
          border-style: groove;
     }       
     
.mountains1{width:100%;
           grid-column:1/6;
           grid-row:5/8;
           box-shadow: 5px 5px 5px #6f7364;
           height: 725px;
           margin-left: 50px;
           
        }    
 .msg1{background-color:#114D69;
         color:white;
         line-height: 1.5em;
         padding: 35px;
         grid-column:2/10;
         grid-row:6/7;
         box-shadow: 5px 5px 10px #6f7364;
    }    
    #background1{height: 825px;
        background-color:#114D69;
        color:white;
        grid-column:1/11;
        grid-row:4/9;      
}  
.msg1 h2 {font-family:"Shadows Into Light";
          font-size: .9em;}  
.msg1 p { font-size: .8em;
    padding-bottom: 15px;}  
           
       
/* END*/

/* CONTACT*/
form {
    margin: 70px 450px 50px;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    box-shadow: 5px 5px 10px #6f7364;    
  }
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
form li + li {
    margin-top: 1em;
  }
  
label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;  
  }
input:focus,
textarea:focus {
    border-color: #000;    
  }
  
textarea {
    vertical-align: top;
    height: 5em;
  }
  
.button {
    padding-left: 90px;  
  }
  
button {
    margin-left: 0.5em;
    font-family:"Regular 400 Italic";
  }
 #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
   
/* END*/

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
   
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }

    .mountains1,.msg1{ 
           width: 80%;
           display: block;
           margin: 0 auto;}

    #background1 {
            display: none;
        }    
     
    .grid-information{display: block;
        height: auto;}

  
    .button-1, .button-2,.button-3{ display: block;
            margin: 0 auto;
            background:none;
        }

    form{margin: auto;
         width: 80%;
          }    
    .salmon,.canyon,.colorado { 
            margin: 50px auto;
            width: 80%;
        }  
    .title,.title2,.title3{font-size: 3vw;
        }       
    
}      
