 /* */ 
div{text-align: center;

}
#content{
    max-width: 1800px;
    margin: 0 auto;
    width:80px;
    
}
nav a{ text-align: center;
       color:white;
       text-decoration:none;
}
#hero-msg h1,#hero-msg h4{text-align: center; 
                          color:black;
}

.button-box{text-align: center;
}
main section{text-align: center;
}

#background {height: 725px;
           background-color:#114D69;
           color:white;
}
body{ background-color:#52B69A;
}
header{background-color: #114D69;
       color:white;}
nav a:hover{background-color: #34A0A4;
}
.book, .join{background-color:#34A0A4; 
             color:black;
             text-decoration:none;}
.book:hover, .join:hover{background-color:#34A0A4;
                         color:black;
                        }

.msg{background-color:#114D69;
     color:white;
    }
footer{background-color:#114D69;
     color:white;
    }
.home-title{color:white;
}
.msg h2{color:white;
}
.msg p{color:white;
}
.msg a{color:white;
}
footer a{color:white;
        text-decoration:none;
    }
footer a:hover{color:white;
}
.logo{ width:80px; }

.icon{width:80px; }

#hero-img {width:100px ;
}
footer p {
    font-size: 1.2em;
    text-decoration: underline;
}    
a:hover {
    text-decoration: underline;
}    
footer div a{ width: 80px;

}
         
